<template>
  <div id="app">
    <nav id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/topartists">Top Artists</router-link> |
      <router-link to="/toptracks">Top Tracks</router-link> |
      <router-link to="/about">About</router-link>
    </nav>
    <router-view/>
  </div>
</template>

<style>
#imagen-encabezado{
    display: flex;
    width:50%;
    margin: auto;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #38463b;
  background-color: grey;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: difference;
  }

#nav {
  padding: 20px;
  background-color:rgb(48, 49, 51) ;
}

#nav a {
  font-weight: bold;
  font-size: 20px;
  color: rgba(250, 255, 187, 0.705);
  
}

#nav a.router-link-exact-active {
  color: #95e44a;
}

.container{
    display: flex;
}
#imagen-encabezado{
    margin-top: 1%;
}
.footer-link{
    background-color: #ffffff2f;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    bottom:10%;
}

/* Uso de movil */
@media screen and (max-width: 600px){
  #encabezado{
    width: 100%;
    display: block;
  }
  #imagen-encabezado{
    width:100%;
    margin: center;
  }
  #nav {
    margin: 0;
    padding: 20px;
    background-color:rgb(48, 49, 51) ;
  }
  #nav a {
    font-weight: bold;
    font-size: 20px;
    color: rgba(250, 255, 187, 0.705);
  }
 

  #nav a {
    font-weight: bold;
    font-size: 20px;
    color: rgba(250, 255, 187, 0.705);
    
  }

}

</style>
