<template>
  <div>
      <body>
        <ul class="container">
            <li v-for="(client, index) in clients" :key="client.id">
                <img :src="client.imagen" alt="client-name"/>
                <p>
                    <b>Nombre:</b> {{client.nombre}}
                </p>
                <p>
                    <b>Usuario:</b> {{client.usuario}}
                </p>
                <p>
                    <b>Email:</b> {{client.email}}
                </p>
                <p>
                    <b>Contraseña:</b> {{client.password}}
                </p>                
                <button @click="sendDataClient(index)">
                    Editar
                </button>  
                <button @click="clientDeleteByIndex(index)">
                    Eliminar
                </button>
            </li>    
        </ul>
      </body>
  </div>
</template>

<script>
export default {
    name: 'AllClients',
    props:{
        clients: Array
    },
    methods:{
        //Recupero los datos del cliente mediante el índice
        sendDataClient(index){
            let dataClient = this.clients[index]
            this.$emit('dataUserEvent', dataClient)
        },
        //Obtengo el índice del cliente a eliminar
        clientDeleteByIndex(index){
            let indexDelete = this.clients[index].id;
            //Evento para el borrado del usuario
            this.$emit('deleteUserEvent', indexDelete);
        }
    }

}
</script>

<style scoped>
    body{
        height: 95vh;
    }
    img{
        width: 20em;
    }
    div{
        display: flex;
    }
    li{
        margin: 1rem;
        background-color: rgba(115, 156, 209, 0.2);
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        height: 99vh;
    }
@media screen and ( max-width: 600px){
    li{
        font-size: 15px;
        padding: 10px;
    }
    img{
        width: 10em;
    }
}   
    
</style>