<template>
<div>
  <body>
    <ul class="container">
      <li v-for="product of products" :key="product.id">
        <img :src="product.imagen" alt="product.nombre" />
        <p>
          <b>Nombre</b>
          {{ product.nombre }}
        </p>
        <p>
          <b>Stock:</b>
          {{ product.stock }}
        </p>
        <p :class="{green: product.stock > 0, 
            grey: product.stock < 1 }">
            {{ product.disponibilidad }}
        </p>

        <button :class="{disable: product.stock < 1}" @click="buyAlert()">Comprar</button>
        <button :class="{disable: product.stock < 1}" @click="reserveAlert()">Reservar</button>
      </li>
    </ul>
  </body>     
</div>
</template>
<script>
import Swal from "sweetalert2";
import footercustom from '@/components/FooterCustom.vue';

export default {
  name: "AllProducts",
  components:{
    footercustom
  },
  props: {
    products: Array
  },
  methods: {
    //Aviso del botón de compra
    buyAlert() {
      Swal.fire({
        title: "¿Estás seguro?",
        text: "No hay vuelta atrás",
        icon: "question",
        showCancelButton: true,
        cancelButtonText: "Anular",
        confirmButtonText: "YASS"
      }).then(result => {
        if (result.value) {
          Swal.fire("Gracias por su Compra").then(result => {
            location.reload();
          });
        }
      });
    },
    reserveAlert() {
      Swal.fire({
        title:
          "¿Desea Reservalo? Le enviaremos un email en cuanto esté disponible",
        text: "Lo notificaremos en cuanto esté disponible",
        icon: "question",
        showCancelButton: true,
        cancelButtonText: "NO",
        confirmButtonText: "Avísame"
      }).then(result => {
        if (result.value) {
          Swal.fire("Gracias por su Reseva").then(result => {
            location.reload();
          });
        }
      });
    }
  }
};
</script>

<style scoped>

body{
    height: 90rem;
}
img {
  width: 20em;
}

div {
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 99vh;
}

.green {
  color: green;
}
.grey {
  color: grey;
}
.disable {
  display: none;
}
@media screen and ( max-width: 600px){
  img {
  width: 10em;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

}
</style>