<template>
  <div id='back'>
      <div id="nav">
        <router-link :to="{name: 'Home'}">Home</router-link>
        <router-link :to="{name: 'Products'}">Productos</router-link>
        <router-link :to="{name: 'Clients'}">Clientes</router-link>
        <router-link :to="{name: 'Register'}">Registro</router-link>
        <router-link :to="{name: 'About'}">About</router-link>
      </div>
    <router-view/>
  </div>
</template>

<script>
export default {
    name: 'CustomMenu',

}
</script>

<style scoped>

  #back{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

  }
  #nav {
    margin-top: 0.3%;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
  }

  #nav a {
    box-shadow: 4px 3px 10px orange;
    background-color: rgba(0, 0, 255, 0.137);
    font-weight: bold;
    color: #2c3e50;
    font-size: 1.5em;
  }

  #nav a.router-link-exact-active {
    color: orange;
  }

  @media screen and ( max-width: 600px){
    #nav {
    margin-top: 0.3%;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
  }

  #nav a {
    display: flex;
    box-shadow: 4px 3px 10px orange;
    background-color: rgba(0, 0, 255, 0.137);
    font-weight: bold;
    color: #2c3e50;
    font-size: 1em;
  }

  #nav a.router-link-exact-active {
    color: orange;
  }
  
  }


</style>