<template>
  <div>
      <footer id="footer">
          Designed&Coded by Orlando Soage
      </footer>
  </div>
</template>

<script>
export default {
    name: 'FooterCustom'

}
</script>

<style scoped>
    #footer{
        background-color: orange;
        bottom:0%;
        width: 100%;
        height: 50%;
        padding: 0.6em;
    }
    @media screen and ( max-width: 600px){
        #footer{
            width: 100%;
            padding: 0;
        }

    }
</style>