@import 'normalize.css';

.hotel-picture{
    text-align: center;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    flex-grow: 0;
    display:block;    
    margin:auto
}
.hotel-picture:hover{
    transform:scale(1.5);
    transition-delay: 1s;
    border: 2px solid silver;
}

#picture1{
    background-image: url('/images/raffles.jpg');
}
#picture2{
    background-image: url('/images/conrad-centennial.jpg');
}
#picture3{
    background-image: url('/images/damenlou.jpg');
}
#picture4{
    background-image: url('/images/shangri-la.jpg');
}
#picture5{
    background-image: url('/images/swissotel.jpg');
}

@media screen and ( max-width: 600px){

    .hotel-picture{
        width: 100%;
        height: 120px;
    }
    .hotel-picture:hover{
        border: none;
        transform: none;
    }
    /*Lo ideal sería preparar imágenes pensando en este formato*/

}