@import 'normalize.css';

@font-face {
    font-family: "ManilaSans-Regular";
    src: url("/fonts/ManilaSans-Regular.eot");
    src: url("/fonts/ManilaSans-Regular.woff") format("woff"),
    url("/fonts/ManilaSans-Regular.otf") format("opentype"),
    url("/fonts/ManilaSans-Regular.svg#filename") format("svg");
    }


body{
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}

section>h1,p,h2,h3 {
    font-family: "ManilaSans-Regular",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: white;
}
header{
    color: white;
    font-family: "ManilaSans-Regular",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header>h1{
    text-shadow: 1px 4px 0px rgb(19, 18, 18);
}
#page-info{
    font-size: 6vh;
}
article{
    border: 1px solid silver;
}
section>h2{
    color: rgb(255, 0, 76);
}

.intro{
    background-image: url('/images/hotel-skyline.jpg');
    background-size: cover;
    background-position: center;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s ease-in-out 0.3s forwards;
}

.container{
    flex-grow: 1;
    flex-shrink: 1;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;
}

section{
    padding: 20px;
}

.hotel-item{
    display: flex;
    flex-direction: column;
}
.hotel-info{
    flex-grow: 1;
}

.button{
    font-family: "ManilaSans-Regular",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    background-color: rgb(255, 0, 76);
    color: white;
    width: 100%;
    border:none;
    height: 5vh;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(32, 219, 113);
    color: black;
}

.end-of-page{
    color: black;
    background-color: rgb(255, 0, 76) ;
    text-align: center;
    padding: 1px;
}

.flex-box {
    display: flex;
    max-width: 100vw;
}
aside {
    overflow: hidden;
    padding:5px;
    width: 30%;
    height: 100%vh;
    background-color: rgb(26, 3, 14);
}
 .carrito{
     font-family: "ManilaSans-Regular",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     padding: 20px;
     flex-direction: column;
     display: flex;
     flex-grow: 1;
     flex-shrink: 1;
 }
#delete-button{
    max-width: 100vw;
    background-color:  rgb(255, 0, 76);
    border: none;
    font-size: 20px;
    color: white;
    
}





@keyframes fadeIn{
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

@media screen and ( max-width: 600px){
    .hotel-item{
        flex-direction: colum;
    }

    .intro{
        background-image: url('/images/hotel-skyline.jpg');
        background-size: initial;
        background-position: center;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: fadeIn 1s ease-in-out 0.7s forwards;
    }
    #page-info{
        font-size: 4vh;
    }
    section{
        padding:10px;
    }
    .hotel-info h3{
        font-size: 15px;
    }
    .hotel-info h2{
        font-size: 17px;
    }
    .hotel-info p{
        font-size: 12px;
    }
    .button{
        height: 3vh;
    }
    footer{
        font-size: 10px;
    }
}
