<template>
  <div id="app">
    <custommenu/>
  </div>
</template>
<script>
  import custommenu from '@/components/CustomMenu.vue';

  export default {
    name: 'App',
    //2º Paso: Registrar el componente
      components:{
        custommenu
    }
  }
</script>

<style>

 
  li{
      margin: 1rem;
      background-color: rgba(115, 156, 209, 0.2);
  }

  li,ul{
    list-style:none;
  }
  #app {
    background-color:rgba(255, 94, 0, 0.205);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    height: 100%;
  }

  input{
    padding: 0.300rem;
    margin: 0.300rem;
    border: none;
    border-bottom: 2px solid orange;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    transition: all .4s;
  }

  input:hover{
    border: 2px solid orange;
    cursor: pointer;
  }
  button{
    font-size: 0.9em;
    border-radius: 20px;
    background: rgb(226, 77, 22);
    color: white;
    padding: 0.5em;
    margin: 1em;  
    border: none;
    display: inline-block;
    transition: all .3s;
  }

  button:hover{
    cursor: pointer;
    transform: translateY(-6px);
  }


@media screen and ( max-width: 600px){
  ul{
    padding: 0;
  }
} 

</style>
