<template>
  <div id="app">
    <header id="nav">
      <router-link :to="{name:'LandingSearch'}"><img class='image-logo' src="./assets/come2cow.png"></router-link>
      <router-link v-if="!logged" :to="{name:'Register'}">Registro</router-link>
      <router-link v-if="logged" :to="{name:'Mycoworking'}">Mi Coworking</router-link>
      <router-link v-if="logged" :to="{name:'Workplaces'}">Espacios de Coworking</router-link>
      <router-link v-if="logged" :to="{name:'Newworkplace'}">Añadir Espacios</router-link>
      <router-link v-if="logged" :to="{name:'About'}">About</router-link>
      <div class="logx-container">
        <button v-if="hideLogin !== null" class="button-custom" @click="identifyUser()">Identificarse</button>
        <button v-if="hideLogin == null"  class="button-custom" @click="logOutUser()">Logout</button>
      </div>  
    </header>
    <body>
      <router-view class="routerView" @logindoneevent="afterLogin()"/>
    </body>
    <footer>
      <footercustom/>  
    </footer>
  </div>
</template>

<script>
  import { logout, isLoggedIn, getUserUserIdLocalStorage, setAuthToken } from '../../backcome2cow/utils';
  import './styles/normalize.css';
  import footercustom from '../src/components/Customfooter';

  export default {
    components:{
        footercustom
    },
    data(){
 
      return{
        userId:'',
        logged: false,
      }
    },
    methods:{
      setUserId(){
        this.userId = getUserUserIdLocalStorage()
      },
      identifyUser(){
        this.$router.push({name:'Login'})
      },
      logOutUser(){
        logout();
        this.userId='';
        this.logged='';
        
        this.$router.push({name:'Login'});
      },
      getLogin(){
        this.logged = isLoggedIn()
      },
      afterLogin(){
        this.setUserId();
        this.getLogin();
      },
  },
  computed:{
    hideLogin(){
      if (this.logged == true){
        return null;
      } else if (this.logged !== null){
        return true;
      }
    }
  },
  created(){
  this.afterLogin();
  }
}
</script>

<style>
 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
  font-family: 'Lato', sans-serif;
}
nav{
  display: flex;
  cursor: pointer;
}

#app {
  display: flex;
  flex-direction: column; 
}
#nav a.router-link-exact-active {
  color: whitesmoke;
}
#nav a, .logx-container {
  margin: auto;
  padding:0.2em;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 600;
  color: darkslategrey;
  justify-content: initial;

}
header {
  display: flex;
  flex-wrap: wrap;
  background: #A770EF;
  background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
  background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);   
}

body {
  display:flex;
  flex-direction: column;
  height: 100%;
  background-image: url('./assets/backgrounds/background.jpg');
  background-repeat: no-repeat;
 
  background-position: cover;
  background-size: 100%;
  background-color: #8e9eab;
  background-color: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background-color: linear-gradient(to right, #eef2f3, #8e9eab);

}
.button-custom{
    cursor: pointer;
    color: whitesmoke;
    background: darkslategray
}
.button-custom:hover{
    color: darkslategray;
    background-color: whitesmoke;
}
.routerView{
  padding-top: 2em;
  padding-bottom: 5em;
  height: 100%;
}
/*Estilos por defecto h1&dbuttons */
h1{
  color :darkslategrey;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  font-weight: 900;
  text-shadow: 0px 2px 5px rgb(75, 74, 74);
}
footer{
  width: 100%;
  margin:auto;
  flex-shrink: 0;
}

</style>
