<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{name:'LandingSearch'}"><img class='image-logo' src="./assets/come2cow.png"></router-link>
      <router-link :to="{name:'Register'}">Registro</router-link>
      <router-link v-show="logged" :to="{name:'Newworkplace'}">Add Espacios</router-link>
      <router-link v-show="logged" :to="{name:'Mycoworking'}">Mi Coworking</router-link>
      <router-link v-show="logged" :to="{name:'Workplaces'}">Espacios de Coworking</router-link>
      <router-link v-show="logged" :to="{name:'About'}">About</router-link>
      <div class="logx-container">
        <button v-if="hideLogin !== null" class="logx-button" @click="identifyUser()">Identificarse</button>
        <button v-if="hideLogin == null"  class="logx-button" @click="logOutUser()">Logout</button>
      </div>  
    </div>
    
    <body>
      <router-view class="routerView" @logindoneevent="afterLogin()"/>
    </body>
    <footer>
      <footercustom/>  
    </footer>
    
  </div>
  
</template>

<script>
  import { logout, isLoggedIn, getUserUserIdLocalStorage, setAuthToken } from '../../backcome2cow/utils';
  import './styles/normalize.css';
  import footercustom from '../src/components/Customfooter';

  export default {
    components:{
        footercustom
    },
    data(){
 
      return{
        userId:'',
        logged: false,
      }
    },
    methods:{
      setUserId(){
        this.userId = getUserUserIdLocalStorage()
      },
      identifyUser(){
        this.$router.push('/login')
      },
      logOutUser(){
        logout();
        this.userId='';
        this.logged='';
        
        this.$router.push('/');
      },
      getLogin(){
        this.logged = isLoggedIn()
      },
      afterLogin(){
        this.setUserId();
        this.getLogin();
      },
  },
  computed:{
    hideLogin(){
      if (this.logged == true){
        return null;
      } else if (this.logged !== null){
        return true;
      }
    }
  },
  created(){
  this.afterLogin();
  }
}
</script>

<style>
 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
  font-family: 'Lato', sans-serif;
}

body{
  height: 100%;
  padding: 0;
  margin: 0;
}
#Footer{
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
}
#app{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-image: url('./assets/backgrounds/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}
.routerView{
  height: 100%;
  width: 100%;
  margin-top: 4.6em;
}
li, ul {
  list-style: none;
}
#app {
  text-align: center;
  color: darkslategrey;
  height: 99vh;
}

#nav {
  background: #A770EF;
  background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
  background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); 
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

#nav a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 600;
  color: darkslategrey;
}

#nav a.router-link-exact-active {
  color: whitesmoke;
}
input{
  font-size: 1.5em;
  background-color: whi
}

button{
  font-size: 1.3em;
  padding: 0.3em;
  margin-top:1%;
  border: none;
  cursor: pointer;
  color: darkslategrey;
  background-color: whitesmoke;
}

button:hover{
  background-color: grey;
}

.logx-container{
  margin-left: auto;
}
.logx-button{
  margin-right: 0.8em;
  background-color: whitesmoke;
  font-size: 1.5em;
}

.image-logo{
  margin-top: 3px;
}
.button-custom{
    cursor: pointer;
    color: whitesmoke;
    background: darkslategray
}
.button-custom:hover{
    color: darkslategray;
    background-color: whitesmoke;
}

h1{
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: underline purple;
  font-weight: 900;
  text-shadow: 0px 5px 5px rgb(75, 74, 74);
}
</style>
