<template>
  <div class="container">
    <div class="about">
      <img src="../assets/About_me_gif.gif" alt="DioBrando Gif">
      <article class="text-info">
        MVP sobre gestión y reserva de espacios para Coworking.
        El objetivo ha sido desarollar un "esbozo" de una web para la gestión y reservas adaptadas al nuevo paradigma tras el Covid-19.

      </article>
      <h3>
          <a href="https://www.linkedin.com/in/orlandosoage/">Linkedin</a> 
      </h3>
    </div>
  </div>
  
</template>
<script>

export default {
  name: 'About',
  components:{
  }
}
</script>

<style scoped>
.container{
  display: flex;
  justify-content: space-around;
  padding-bottom: 4em;
}
.text-info{
  padding: 1em;
  font-size: 1.5em;

}
.about{
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  margin: auto;
  background-color: whitesmoke;
}
p{
  font-size: 1.5em;
}
a{
  margin-top: 2%;
  padding: 0.5em;
  color: white;
  background-color:#64b5f6 ;
}
@media screen and ( max-width: 600px){
  p{
    font-size: 20px;
  }
  h1{
    font-size:2 em;
  }
  img{
    width:50%;
  }

}  

</style>