<template>
  <div class="error">

      <h1>Este no es un espacio para compartir ;)</h1>
      <h2>😕 No tiene permiso para acceder a esta página 😕</h2>
      <div class="image-error">
          <img src="../assets/error.gif" alt="Nerv_Error">
      </div>
      <div id="mensaje-container">
          <h3 class="mensaje">👇 Si quieres salir de este lugar aislado del espacio tiempo 👇</h3>
      </div>
      
      <div class="container-button">
          <button class="button-custom" @click="$router.go(-1)">
            Volver al pasado
          </button>
      </div>
      
  </div>
</template>

<script>

</script>

<style scoped>
.mensaje{
    background: whitesmoke;
}
.image-error{
    display: flex;
    margin: auto;
}
h1{
    margin: auto;
    padding: 1em;
}  
.error{
    display: flex;
    margin: auto;
    flex-direction: column;
}
.container-button{
    margin: auto;
    padding: 2em;
}

h2{
    padding: 0.5em;
    background: whitesmoke;
}
h3{
    padding-top: 2em;
    margin: auto;
    padding: 1em;
    background: whitesmoke;
}
#mensaje-container{
    margin: auto;
    padding: 2em;
}
.button-custom{
    font-size: 2em;
}
</style>