<template>
  <div class="backgroundLanding">
    <div class="busqueda">
      <h1 id="encabezado-pagina">BIENVENIDO A COME2COW</h1>
      <div class="container">
        <label for="city">
          Ciudad
          <input type="text" id="city" placeholder="Ciudad de trabajo" v-model="citySearch">
        </label>
        <label for="entrada">
          Entrada
          <input class="fecha" type="date" id="entrada" v-model="fechaEntrada"/>
         </label>
        <label for="salida">
          Salida
          <input class="fecha" type="date" id ="salida" v-model="fechaSalida">
        </label>
        <button on class="searchbutton" @click="getWorkplacesByFilter()">
          &#128270;
        </button>
      </div>
      
      <getworkplaces class="search-result" 
      v-on:emitDatosWorkplace="getEmitDataFromWorkplace"
      :workplaces="workplacesFiltered"
      v-show="preSearch"/>
    </div>
    <img class="landing" v-if="landing" src="../assets/coworking.jpg" alt="Primer landing img">
 
  </div>
  
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import getworkplaces from '@/components/Getworkplaces.vue';
import Swal from 'sweetalert2';


export default {
  name: 'LandingSearch',
  components: {
    getworkplaces,
  },
  data(){
    return{
      citySearch: '',
      workplacesFiltered:[],
      fechaEntrada: '',
      fechaSalida: '',
      workplaceInfoId: '',
      landing:true,
      preSearch: false,
    }
  },
  methods:{
    //Función para convertir fechas
    dayCalculate(fechaEntrada, fechaSalida){
      let monthIn = new Date(fechaEntrada).getTime() / 1000
      let monthOut = new Date(fechaSalida).getTime() / 1000
      let unixDays = monthIn - monthOut
      let rentDays = unixDays/86400
      return rentDays 
    },
    //Para pasar de milisegundos a date
    toDate(tiempo){
      let date = moment(tiempo).format("DD-MM-YYYY")
      return date
    },
    getEmitDataFromWorkplace(dataWorkplace){
      var self=this;
      this.workplaceInfoId = dataWorkplace.wpId
      this.$router.push(`/workplacesinfo/${this.workplaceInfoId}`)
    },
    //función para enviar el id del workplace a otra vista/componente
    getWorkplacesByFilter(fechaEntrada,fechaSalida){
        var self=this;
        this.landing = false;
        this.preSearch = true;
        let city= this.citySearch;
        let entry = new Date(this.fechaEntrada).getTime() / 1000
        let out = new Date(this.fechaSalida).getTime() / 1000

        this.$emit('searchclick')
        
        if (!city){
          Swal.fire({
            icon: 'error',
            text: 'Introduzca una ciudad'
          })
        } else{
          axios.get(`http://localhost:8090/workplaces/booking/filter?city=${city}&fechaEntrada=${entry}&fechaSalida=${out}`)
            .then(function(response){
              console.log(response.data)

              self.workplacesFiltered = response.data
              //console.log(self.workplacesFiltered)
            })
            .catch(function(error){
              console.log(error)
            })
          }
    }, 
  }
}
</script>

<style scoped>
.landing{
  display: flex;
  margin: auto;
  width: 800px;
  padding-bottom: 3em;
  padding-top:2em;
}
.search-result{
  height: 50%;
}
#encabezado-pagina{
  font-size: 4em;
}
#city{
  padding: 0.4em;
}
button{
  padding: 0 1rem;
}
label{
  display: flex;
  flex-direction: column;
}
.options{
  display: flex;
}
.container{
  padding-bottom: 0.8em;

  display:flex;
  gap: 2em;
  justify-content: center;
}
input{
  padding: 0.3em;
  border: 1 solid whitesmoke;
}
.container > label {
  font-size: 1em;
}

.picture{
  background-position: center;
  background-size: cover;
  background-image: url("../assets/backgrounds/officestock2.jpg");
}

.searchbutton{
  border:1px solid grey;
  margin-top: 19px;
}

</style>