<template>
    <div class="container">
        <h1>Inicie sesión</h1>
        <section class="login-form">
            <h3>Introduzca sus datos</h3>
            <input v-model="email" type="email" placeholder="Email">
            <input v-model="password" type="password" placeholder="Contraseña">
            <div class="button">
                <button class="button-custom" @click="loginUser()">
                    Login
                </button>
                <button class="button-custom" @click="goToRegister()">
                    Registrarme            
                </button>
            </div>
        </section>
    </div>
</template>

<script>
import {login} from '../../../backcome2cow/utils';
import Swal from 'sweetalert2';

export default {
    name: 'Login',
    components:{
    },
    data(){
        return {
            email:'',
            password:'',
            seeSpinner:false
        }
    },
    methods: {
        goToRegister(){
            var self=this;
            this.$router.push('/register')
        },
        loginUser(){
            //Comprobar que los campos no están vacíos
            //Si están vacíos se ejecuta un alert
            if(this.email === '' || this.password === ''){
                Swal.fire({
                  icon: 'warning',
                  text: 'Rellene los campos',
                });
            } else {
                login(this.email, this.password)
                .then (() => {
                    this.$emit('logindoneevent');
                    this.$router.push('/');
                    Swal.fire({
                       icon: 'success',
                       text: 'Sesión iniciada',
                    });
                })
                .catch(function(error){

                    Swal.fire({
                        icon: 'error',
                        text: 'Datos erróneos',
                    });

                })
            }
        }
    }
}
</script>

<style scoped>
.underlogin{
    margin: auto;
    width: 40%;
}
.container{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2em;
}

.login-form{
    background-color:whitesmoke;
    width: 300px;    
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    margin:auto;

}
input{
    padding: 0.2em;
}
.button {
    display: flex;
    margin: auto;
    gap: 1em;
}

</style>