<template>
  <div >
    <div class="container">
      <h1 class="header-text">Mi Coworking</h1>        
      <div class="userData">
      <!-- Primero el array del componente y luego la vista -->
      <infouser v-on:datos="showUserData" :userinfo="userinfoBD"/>
      <!-- Modal para actualización de datos de cliente -->
      <div v-show="seeModal" class="modal-userinfo">
        <div id="modalBox">
          <h3>Actualice sus datos</h3>
          <label for="firstName">Nombre</label>
          <input id="firstName" type="text" v-model="firstNameUpdated">

          <label for="lastName">Apellidos</label>
          <input id="lastName" type="text" v-model="lastNameUpdated">
          
          <label for="phone">Teléfono</label>
          <input type="text" v-model="phoneUpdated">
          
          <label for="city">Ciudad</label>
          <input type="text" id="city" v-model="cityUpdated">
           
          <label for="email">Email</label>
          <input id="email" type="text" v-model="emailUpdated">
         
          <div class="modal-button-update-container">
            <button @click="showPasswordBox()">
              Cambiar contraseña
            </button>
            <button @click="actualizarCliente()">
              Actualizar cliente
            </button>   
            <button @click="seeModal =! seeModal">
              Cancelar
            </button>            
          </div>      
        </div>
      </div>
      <!-- Modal para cambiar la contraseña -->
      <div v-show="seeModalPw" class="modal-password-container">

        <label for="password_1">Escriba su nueva contraseña</label>
        <input id="password_1" type="password" placeholder="Escriba su contraseña" v-model="passwordUpdated1">
        <label for="password_2">Repita su contraseña</label>
        <input id="password_2" type="password" placeholder="Repita su contraseña" v-model="passwordUpdated2">
        
        <div class="button-container">
          <button class="button-custom"  @click="updatePassword() ">Actualizar</button>
          <button class="button-custom"  @click="seeModalPw =! seeModalPw">Cancelar</button>  
        </div>  
      </div>     
      </div>
      <!-- Modal de valoración de reserva-->
      <div class="bookingInfo">
        <bookedinfo class="bookedRender" :bookingreserves="bookedByUser"
        v-on:starsValorationEvent="insertValoration"
        v-on:comentValorationEvent="insertValoration"/>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import bookedinfo from '@/components/Getbooking.vue';
import Swal from 'sweetalert2';
import infouser from '@/components/Getuserinfo.vue';
import { getAuthToken } from '../../../backcome2cow/utils';

export default {    
    name:'Mycoworking',
    components: {
      bookedinfo,
      infouser
    },
    data(){
      return {
        bookedByUser: Array,
        userinfoBD:[],
        firstNameUpdated:'',
        lastNameUpdated:'',
        phoneUpdated:'',
        cityUpdated:'',
        emailUpdated:'',
        passwordUpdated1:'',
        passwordUpdated2:'',
        seeModal: false,
        seeModalPw:false,
        insertValoration:'',
      }
    },
    methods: {
      getReserves(){
        var self = this;
        let id ='';
        this.id = localStorage.getItem('USERID');
      
        //Llamada a la api mediante axios
        axios.get(`http://localhost:8090/booking/${this.id}`)
        .then(function(response){
          self.bookedByUser = response.data
          console.log(self.bookedByUser)
        })
        .catch(function(response){
          console.log(response)
        })
      },
      showPasswordBox(){
        this.seeModalPw=true;
        this.seeModal=false;
      },
      updatePassword(){
        var self = this;
        let id = '';
        this.id = localStorage.getItem('USERID');

        if(this.passwordUpdated1 == this.passwordUpdated2){
          axios.put(`http://localhost:8090/users/updatepw/${this.id}`,{
            password: this.passwordUpdated1,
            id: self.id
          })
          .then(function(response){
            self.seeModalPw=false;
            Swal.fire({
              icon: 'success',
              text: 'Contraseña Actualizada',
            });
            
          })
          .catch(function(response){
            console.log(error)
          })
        }else{
          Swal.fire({
            icon: 'error',
            text: 'Las contraseñas no coinciden',
            showCancelButton: true 
          })
        }
      },
      actualizarCliente(){
        let id = '';
        this.id = localStorage.getItem('USERID');
        this.seeModal = false;
        axios.put(`http://localhost:8090/users/update/${this.id}`,{
          firstName: this.firstNameUpdated,
          lastName: this.lastNameUpdated,
          phone: this.phoneUpdated,
          city: this.cityUpdated,
          email: this.emailUpdated,
          id: this.id
        })
        .then(() => {
          Swal.fire({
            icon: 'success',
            text: 'Usuario actualizado',
          });
          this.getUserInfo();
        });
      },
      showUserData(userData){
        this.firstNameUpdated = userData.firstName
        this.lastNameUpdated = userData.lastName
        this.phoneUpdated = userData.phone
        this.cityUpdated = userData.city
        this.emailUpdated = userData.email
        this.passwordUpdated = userData.password

        this.seeModal = true;
      },
      getUserInfo(){
        var self=this;
        let id= '';
        //Recupero el userid almacenado en el localStorage
        this.id = localStorage.getItem('USERID')
        //Llamada a la api
        axios.get(`http://localhost:8090/users/info/${this.id}`)
        .then(function(response){
          self.userinfoBD = response.data
        })
        .catch(function(error){
          console.log(error)
        })
      }
    },
    created(){
      this.getUserInfo();
      this.getReserves();
    }
}
</script>

<style scoped>

.bookingInfo{
  display:flex;
  flex-direction: column;
  margin: auto;
}
label{
  margin: auto;
}
.container{
  padding-bottom: 2.3em;
}


.modal-password-container{
  display:flex;
  flex-direction: column;
  width: 300px;
  gap:1em;
  padding:1em;
  background-color: whitesmoke;
  top: 0;
  margin: auto;
  -webkit-box-shadow: -1px 5px 17px 9px rgba(0,0,0,0.59);
  -moz-box-shadow: -1px 5px 17px 9px rgba(0,0,0,0.59);
  box-shadow: -1px 5px 17px 9px rgba(0,0,0,0.59);
}
.modal-password-container > input{
  width: 90%;
  margin: auto;
}
.modal-userinfo{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
}
#modalBox{
  display: flex;
  border: 1px solid grey;
  font-size: 1em;
  width: 400px;
  background-color: whitesmoke;
  flex-direction: column;
  margin: auto;
}
#modalBox > h3{
  padding: 1em;
  margin: auto;
}

#modalBox >label{
  margin: auto;
  font-weight: 700;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#modalBox >input{
  margin: auto;
  text-align: center;
  font-size: 1em;
  width: 300px;
}
.modal-button-update-container{
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.3em;
}
.modal-button-update-container > button{
  display: flex;
  margin: auto;
  gap: 1em;
  color: whitesmoke;
  background: darkslategray;
}
.button-container{
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  display: flex;
  margin: auto;
  gap: 2em;
}
</style>