<template>
<div>
    <h1>Registra tu espacio de Trabajo</h1>
    <div class="container">
        <section class="register-form">
            <div class="info-header">Ciudad</div>
            <input v-model="city" type="text" placeholder=""> <br>
            <div class="info-header">Nombre del Espacio</div>
            <input v-model="name" type="text" placeholder=""> <br>
            <div class="info-header">Coste del alquiler (mensual)</div>
            <input v-model="prize" type="prize" placeholder=""> <br>
            <div class="info-header">Horario</div>
            <input v-model="schedule" type="text" placeholder="HH:MM - HH:MM"> <br>
            <div class="info-header">Email de contacto</div>
            <input v-model="email" type="email" placeholder=""> <br>
            <div class="info-header">Tipo</div>
            <input v-model="type" type="text" placeholder="">  
             <!--<select v-model="type">
                <option disabled value="">Seleccione un tipo</option>
                <option>Oficina</option>
                <option>Aula</option>
                <option>Mesa</option>
                <option></option>
            </select>-->
            <div class="button-container">
                <button class="button-custom" @click="registerWorkplace()">
                    Añadir
                </button>
            </div>

        </section>
    </div>
</div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'Newworkplace',
    components:{
    },
    data(){
        return{
            city:'',
            name:'',
            type:'',
            prize:'',
            schedule:'',
            email:'',
            workplaces:[]
        };
    },
    methods:{        
        registerWorkplace(){
            var self=this;

            if (self.city === '' || self.name === '' || self.type === '' ||
                self.prize === ''  || self.schedule === '' || self.email === ''){
                    alert('Rellene los campos vacíos')
                return    
            }
            axios.post('http://localhost:8090/workplaces/addworkplace',{
            city: self.city,
            name:self.name,
            type:self.type,
            prize:self.prize,
            schedule:self.schedule,
            email:self.email,
            })
            .then(function(response){
                console.log(response)
                location.reload()
            })
            .catch(function(error){
                console.log(error)
            })
        }    
        
    }
}
</script>

<style scoped>
.container{
    padding: 3em;
}
.button-container{
    display: flex;
    padding-top: 2em;
}
.register-form{
    padding-bottom: 1.4em;
    padding-top: 1.3em;
    height: 100%;
    background-color: whitesmoke;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    margin:auto;
    align-items: center;
}
.info-header{
    font-size: 1.4em;
    padding-bottom: 0.5em;
    text-align: center;
    margin: auto;
}
input{
    text-align: center;
    width: 400px;
}
p{
    font-size: 1.5em;
    margin: auto;
    margin-left: 42%;
}

</style>