<template>
  <div class="container">
      <h1>Crea tu cuenta de usuario</h1>
      <section class="register-form">
        <p>Nombre</p>
        <input v-model.trim="firstName" type="text" placeholder=""> <br>
        <p>Apellidos</p>
        <input v-model.trim="lastName" type="text" placeholder=""> <br>
        <p>Ciudad</p>
        <input v-model.trim="city" type="text" placeholder=""> <br>
        <p>Teléfono</p>
        <input v-model.number="phone" type="tel" placeholder=""> <br>
        <p>Email</p>
        <input v-model.trim="email" type="text" placeholder=""> <br>
        <p>Contraseña</p>
        <input v-model.trim="password" type="password" placeholder=""> <br>
        <div class="button--container">
            <button class="button-custom" @click="registerUser()">
                Registrarse
            </button>
            <button class="button-custom" @click="goToLogin()">
                Tengo una cuenta
            </button>
        </div>    
      </section>
  </div>
</template>

<script>
import axios from 'axios';
import Swal from 'sweetalert2';
import spinner from  '@/components/Spinner.vue'

export default {
    name: 'Register',
    components:{
        spinner
    },
    data(){
        return{
            firstName:'',
            lastName:'',
            city:'',
            email:'',
            password:'',
            phone:'',
            role:"user",
            users:[],
        };
    },
    methods:{
        goToLogin(){
            var self=this;
            this.$router.push('/login')
        },        
        registerUser(){
            var self=this;

            if (self.firstName === '' || self.lastName === '' || self.city === '' ||
                self.email === ''  || self.password === '' || self.phone === ''){
                    Swal.fire({
                        icon: 'error',
                        title: 'Rellene los campos vacíos',
                        showConfirmButton: true,
                    })   
                return    
            }
            axios.post('http://localhost:8090/users/register',{
            phone: self.phone,
            firstName:self.firstName,
            lastName:self.lastName,
            city:self.city,
            email:self.email,
            password:self.password,
            role:"user"
            })
            
            .then(function(response){
                console.log(`post donde`)
                //Si la respuesta es correcta y se puede crear usuario 
               
                if (response.data.code === 200){
                    Swal.fire({
                        icon:'success',
                        title:'Usuario registrado con éxito',
                        showConfirmButton: false,
                        timmer: 2000
                    })
                    setTimeout(function(){location.reload()},2200);
                } else if (response.data.code !== 200){
                    Swal.fire({
                        icon:'error',
                        title: 'Ya existe un usuario registrado con ese email',
                        showConfirmButton: false,
                        timmer: 2000
                    })
                }

            })
            .catch(function(error){
                console.log(error)
                Swal.fire({
                    icon:'error',
                    title:'Ya existe un usuario registrado con ese email',
                    showConfirmButton: true,
                })
            })
        }    
        
    }
}
</script>

<style scoped>

.container{
    display: flex;
    flex-direction: column;
}
.register-form{
    background-color:whitesmoke;
    width: 500px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    margin:auto;

}
input{
    width: 300px;
    padding: 0.2em;
}
.button--container{
    display: flex;
    gap: 1em;
    padding-top: 1.5em;
    padding-bottom:0.5em;
}
</style>