<template>
    <div>
        <h1>Encuentra tu nueva oficina</h1>
        <getworkplaces v-on:emitDatosWorkplace="getEmitDataFromWorkplace" 
        :workplaces="workplaces"/>
    </div>
    
</template>

<script>
import axios from 'axios';
import getworkplaces from '@/components/Getworkplaces.vue';

export default {
    name: 'Workplaces',
    components:{ 
        getworkplaces
    },
    data(){
        return{
            workplaces: '',
            workplaceInfoId:''
        }
    },
    methods:{
        getAllWorkplaces(){
            var self = this;
            //Llamada a la api mediante axios
            axios.get('http://localhost:8090/workplaces/list')
            .then(function(response){
                console.log(response)
                self.workplaces = response.data
            })
            .catch(function(error){
                console.log(error)
            })
        },
        //función para enviar el id del workplace a otra vista/componente
        getEmitDataFromWorkplace(dataWorkplace){
            var self=this;
            this.workplaceInfoId = dataWorkplace.wpId
            this.$router.push(`/workplacesinfo/${this.workplaceInfoId}`)
        }
    },
    created(){
        this.getAllWorkplaces();
    }
}
</script>

<style scoped>
h1{
    font-size: 3em;
    font-weight: 400;
}
</style>