<template>
    <div>     
        <!-- Modal para reservas -->
        <workplacesinfo :workplacesById="workplacesByIdBD" 
        v-on:reservedata="openDateReserveModal" />
        <servicesinfo class="servicesInfo" :servicesById="services"/>
        <transition name="modal" v-if="reserving">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div  class = "modalDates">
                        <div class="modal-container">
                            <label for="entrada">Fecha de entrada</label>
                            <input class="fecha" type="date" id="entrada" v-model="fechaEntrada"/>
                            <label for="salida">Fecha de Salida</label>
                            <input class="fecha" type="date" id ="salida" v-model="fechaSalida" >
                            <div id="coste">{{prizePerday}} € por día</div>
                            <div class="button-container">
                                <button class="button-custom" @click="days2ReserveCalculate()">
                                    Reservar
                                </button>
                                <button class="button-custom" @click="cancelReserve()">
                                    Cancelar
                                </button>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </transition>
        <transition name="modal" v-if="confirmPayment">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div  class = "modalDates">
                        <div class="modal-container">
                            <div id="info-reserve">Reseva por un total de {{daysToPay}} días</div>
                            <div id="info-reserve">Coste final: {{totalPayment}}€ </div>
                            <div class="button-container">
                                <button class="button-custom" @click="createReserve()">
                                    Reservar
                                </button>
                                <button class="button-custom" @click="cancelReserve()">
                                    Cancelar
                                </button>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import workplacesinfo from '@/components/Getworkplacesbyid.vue';
import Swal from 'sweetalert2';
import servicesinfo from '@/components/Services.vue';
import { getAuthToken } from '../../../backcome2cow/utils';

export default {
    name:'WorkplaceInfo',
    components:{
        workplacesinfo,
        servicesinfo
    },
    data(){
        return{
            workplace2reserve:'',
            totalPayment:'',
            confirmPayment:false,
            prizePerday: '',
            daysToPay: '',
            payment: false,
            reserving: false,
            fechaEntrada:'',
            fechaSalida:'',
            workplacesByIdBD:[],
            services:[],
            reservesModal:true,
        }
    },
    methods: { 
        cancelReserve(){
            this.reserving = false;

            this.confirmPayment = false;
        },
        createReserve(workplace2reserve,data,totalPayment,fechaEntrada,fechaSalida){//método para insertar la reserva
        this.confirmPayment = false;
        let entry = new Date(this.fechaEntrada).getTime() / 1000;
        let out = new Date(this.fechaSalida).getTime() / 1000;
        this.user = localStorage.getItem('USERID');
   
        
        axios.post(`http://localhost:8090/booking/reserve/in`,{
            bookingIni: entry,
            bookingEND: out,
            id_userId: this.user,
            id_wpId:this.workplace2reserve, 
            payment: this.totalPayment
            })
            
            .then(function(response){
                
                Swal.fire({
                    icon: 'success',
                    text: 'Reserva realizada 😄',
                });
            })
            .catch(function(error){
                console.log(error)
            })
            this.$router.push({name:'LandingSearch'})
            
        },
        days2ReserveCalculate(prizePerday,fechaEntrada, fechaSalida){
            if(this.fechaEntrada === '' ||this.fechaSalida === ''){
                this.reserving = false;
                Swal.fire({
                    icon: 'warning',
                    text: 'Debe rellenar fecha de entrada y salida',
                });
            }else if(this.fechaEntrada === this.fechaSalida){
                this.reserving = false;
                Swal.fire({
                    icon: 'info',
                    text: 'Debe reservar como mínimo 1 día 😆',
                });
                
            }else if( this.fechaEntrada > this.fechaSalida ){
                this.reserving = false;
                Swal.fire({
                    icon: 'warning',
                    text: 'No puede acabar una reserva antes de iniciarla ☹️',
                });
            } else {
                let dEntry = new Date(this.fechaEntrada).getTime() / 1000;
                let dOut= new Date(this.fechaSalida).getTime() / 1000;
                let unixDays = dOut-dEntry;
                this.daysToPay = unixDays/86400;

                this.totalPayment = this.daysToPay * this.prizePerday
                this.reserving = false;
                this.confirmPayment = true;
                this.reserving = false;
                return this.totalPayment.toFixed(2), this.daysToPay
            }
        },
        openDateReserveModal(data){
            this.workplace2reserve = data[0].wpId;
            console.log(this.workplace2reserve)
            this.reserving = true;
            let prize = data[0].prize / 30;
            return this.prizePerday= prize.toFixed(2),this.workplace2reserve

        },
        getWorkplaceInfoById(){//Función para obtener los datos de un WP por un ID dado
            var self=this;
            let wpId = '';
            wpId = this.$route.params.id
            //Llamada meidante axios a la API pasándole el índice
            axios.get(`http://localhost:8090/workplaces/${wpId}`, {
             })
            .then(function (response){
                self.workplacesByIdBD = response.data
            })
            .catch (function (error){
                console.log(error)
            })
        },
        getWorkplaceServices(){//Función para obtener los servicios de un WP asociados a un ID
            var self=this;
            let wpId = '';
            wpId = this.$route.params.id
            axios.get(`http://localhost:8090/workplaces/services/${wpId}`)
            .then(function(response){
                self.services = response.data
            })
            .catch (function(error){
            })
        }
    },
    created(){
        this.getWorkplaceInfoById();
        this.getWorkplaceServices();
    }

}
</script>

<style scoped>
label{
    font-size: 1.5em;
    padding:0.5em;
    margin: auto;
}
.button-container{
    margin: auto;
    display: flex;
    gap: 2em;
}
.fecha{
    margin: auto;
}
.modal-container > div{
    font-size: 1.2em;
    padding: 1em;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
.modal-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  padding: 2em;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  text-align: center;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>