<template>
  <div>
    <workplacesby :workplacesByCity="workplacesByCity"/>
  </div>
</template>

<script>
import axios from 'axios';
import workplacesby from '@/components/Getworkplacesbycity.vue';

export default {
  name:'WorkplacesByCity',
  components:{
    workplacesby
  },
  data(){
    return{
      workplacesByCity:[],
      workplaceInfoId:'',
      city:''
    }
  },
  methods:{
    //función para recuperar los wp filtrados por ciudades
    getWorkplacesByCity(){
      var self=this;
      const city = this.$route.params.city
      axios.get(`http://localhost:8090/workplaces/list/${city}`)
      .then(function(response){
        console.log(response.data)
        self.workplacesByCity = response.data
      })
      .catch(function(error){
        console.log(error)
      })
    }
  }
}

</script>

<style scoped>

</style>