<template>
  <div class="about">
    <div class="container">
      <section>
        <header>
          <img class="avatar" src="../assets/logo.png" alt="me">
        </header>
          <div>
            <article class="personal-info">
              <p>
              Bio: 
              <br>
              Soy Orlando Soage Sánchez, un apasionado de la música que además de intentar cantar en una <a href="https://es-es.facebook.com/ArsonTides/"> banda</a>,
              he decidio redireccionar mi carrera profesional hacia la programación. <br> Además de ser un apasionado de la música
              y los festivales, me encantan los juegos de mesa, wargames (miniaturismo) y la fotografía
              Para el desarrollo de este proyecto se ha empleado:
              </p>
              <ul>
                <li>
                  > Vue para crear el sitio.
                </li>
                <li>
                  > La librería Axios para realizar las llamadas a la API de la que sale se obtiene la información.
                </li>
                <li>
                  > API de Lastfm como fuente de la información a renderizar.
                </li>
                <li>
                  > Vue-Headfull para crear una página de Error (no tiene <router-link to="/error">pérdida</router-link>)
                </li>
                <li>
                  > Maquetado mediante CSS y flex.
                </li>
              </ul> 
            </article>
          </div>
      </section>
    </div>
    <footercustom/>
  </div>
</template>

<script>
import footercustom from "@/components/FooterCustom.vue";

export default {
  components: {
    footercustom
  }
};
</script>

<style scoped>
.container{
  background-color:rgba(190, 190, 190, 0.548);
}
.avatar{
  width: 15%;
}
p{
  text-align:justify ;
}
ul{
  margin-top: 5%;
}
ul, li{
  margin-left: 10%;
  list-style: none;
  text-align: left;
}
article{
  padding: 0px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 29px;
  color: rgb(0, 0, 0);
  height: 100vh;
}
section{
  height: 99%;
  width: 100%;
  background-position: top;
  background-repeat:no-repeat ;
  background-size: auto ;
}
</style>