<template>
  <div>
      <vue-headful
      title="Error"
      img='https://www.guitarcalavera.com/wp-content/uploads/2019/03/arson-tides.jpg'
      description="404"
      />

      <h1 id="mensaje-error">
          ¡¡Esta seguro que no es la página que estás buscando!! <br>
          Pero ya que estamos... Péganos una oída ;)
      </h1>
      <nav id="rss">
          <a href="https://www.youtube.com/channel/UC1PMb6P15vscvcCCDUIf9pA?view_as=subscriber">Youtube</a> |
          <a href="https://arsontides.bandcamp.com/album/child-of-the-tide">Bandcamp</a> |
          <a href="https://open.spotify.com/artist/2GAcEBx935DtTsJc2q7z0S"> Spotify</a> |
          <a href="https://es-es.facebook.com/ArsonTides/">Facebook</a> |
          <a href="https://www.instagram.com/arsontides/">Instagram</a>
      </nav>
   
      <div id="autopromo">
          <video id="video" controls autoplay>
              <source src="../assets/arson-tides-helpless.mp4" type='video/mp4'>
              Tu navegador no soporta este contenido
          </video> 
      </div>
      <footercustom />
      
  </div>
</template>

<script>
import footercustom from '@/components/FooterCustom.vue'

export default {
    name: 'Error',
    components:{
        footercustom
    }
}
</script>

<style scoped>
div{
    height: 100%;
}
#mensaje-error{
    color:  #95e44a;
}
#video{
    width: 80%
}
#rss {
  font-weight: bold;
  font-size: 20px;
  padding: 30px;
  color:rgb(48, 49, 51) ;
}
</style>