<template>
    <div class="home">
        <toptags :tagsdelmal="tagsdelmal" />
        <footercustom />
    </div>
    
</template>
<script>

import api from '@/api/index.js'
import toptags from '@/components/TopTagsTier.vue'
import footercustom from '@/components/FooterCustom.vue'

export default {
    name: 'Home',
    components: {
        toptags, footercustom
    },
    data(){
        return{
            tagsdelmal:[]
        }
    },
    created(){
        api.getTopTags().then(response => (this.tagsdelmal = response.data.tags.tag))
    }
}
</script>

<style scoped>

</style>