<template>
    <div>
        <div class="TopArtists">
              <topartists :artists="artists" />
        </div>
        <footercustom />
    </div>
</template>

<script>

import api from '@/api/index.js'
import topartists from '@/components/TopArtistsTier.vue'
import footercustom from '@/components/FooterCustom.vue'


export default {
    name: 'TopArtist',
    components: {
        topartists, footercustom
    },
    data(){
        return{
            artists:[]
        }
    },
    created(){ //HOOK
        api.getArtists().then(response => (this.artists = response.data.topartists.artist))
    }
}

</script>

<style scoped>

</style>