<template>
    <div class="TopTracks">
        <toptracks :tracksdelmal="tracksdelmal" />
        <footercustom />
    </div>
</template>
<script>

import api from '@/api/index.js'
import toptracks from '@/components/TopTracksTier.vue'
import footercustom from '@/components/FooterCustom.vue'


export default { 
    name: 'TopTracks',
    components: {
        toptracks, footercustom
    },
    data(){
        return{
            tracksdelmal:[]
        }
    },
    created(){ // <-- Isto é un HOOK que dispara a chamada a axios cando se executa á vista.
        api.getTopTracks().then(response => (this.tracksdelmal = response.data.tracks.track));
    }
}
</script>


<style scoped>

</style>