<template>
    <div class="container">
      <!---->
      <div class="coworking-container">
        <div class="iconsfooter">
          <img src="../assets/icons/cities.svg" alt="cities-icon">
          <h3>Cada día en más Ciudades</h3>
          <article class="info-coworking">
            COME2COW es un proyecto joven que, día a día, desembarca en nuevas ciudades.
            Nuestro objetivo es darte lo que nadie te da en España: Flexibilidad.
          </article>
        </div>
        <div class="iconsfooter">
          <img src="../assets/icons/spaces.svg" alt="spaces-icon">
          <h3>Cientos de Espacios</h3>
          <article  class="info-coworking">
            Espacios de coworking, centros de negocios, aulas y oficinas compartidas.
            Oficinas flexibles en un sólo espacio.
            En COME2COW encontrarás el espacio ideal para tus necesidades.
          </article>
        </div>
        <div class="iconsfooter">
          <img src="../assets/icons/workstation.svg" alt="cities-icon">
          <h3>Infinidad de Puestos de Trabajo</h3>
          <article class="info-coworking">
            Flexibilidad ante todo, desde salas de eventos, a oficinas, espacios para helpldesk...
            Crea un futuro flexible y sin ataduras con nosotros, te esperamos.
          </article>
        </div>
      </div>
      <div class="personal-container">
        <div class="info-links">
          <a class="footer-link" href="https://es.linkedin.com/in/orlandosoage">
            <img class="linkedin-icon" src="../assets/gitlab.png">
          </a>
          <div id="myself">By: Orlando Soage</div> 
          <a class="footer-link" href="https://es.linkedin.com/in/orlandosoage">
            <img class="linkedin-icon" src="../assets/linkedin.png">
          </a>
        </div>
      </div>
        <div class="aditional-info">
          <div>
            Bootcamp Hack A Boss Vigo 2020
          </div>
          <div>
            Gestor de Espacios de Coworking
          </div>
          <div>
            Versión 1.0
          </div>
        </div>
    </div>
</template>

<script>
export default {
  name:'footercustom'
}
</script>

<style scoped>
.aditional-info{
  gap: 2em;
  display: flex;
  flex-wrap: wrap;  
  padding:1em;
  width: 100%;
  background-color: #8e9eab;
  background-color: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background-color: linear-gradient(to right, #eef2f3, #8e9eab);
  justify-content: center;
}
.coworking-container{
  display: flex;
  flex-direction: row;
}
.container{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: whitesmoke;
  gap: 2em;
  background: #A770EF;
  background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
  background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
}
.iconsfooter{
  display: flex;
  margin: auto;
  flex-direction: column;
  padding:1em;
}
h3{
  margin: auto;
}
img{
  background-color: whitesmoke;
  border-radius: 50%;
  margin: auto;
  width:120px;
}
.info-coworking{
  padding: 1em;
  display: flex;
  font-size: 1.1em;
  flex-direction: column;
  margin: auto;
}
#myself{
  font-size: 1em;
  margin: auto;
  width: auto;
}
.info-links{
  width: 100%;
  gap: 1em;
  margin: auto;
  display: flex;
}
.footer-link{
  margin: auto;
  height: 2.5em;
  width:  2em;
  display: flex;
}
.linkedin-icon{
  height: 1.5em;
  width: 1.5em;
  padding: 0.1em;
}

</style>