<template>
  <div>
      <h1>Reservas Activas</h1>
      <div class="container" >
          <div class="booking-card" v-for="booking in bookingreserves" :key="booking.bookingId">
              <p>
                  <strong>
                      {{booking.name}}
                  </strong>
              </p>
              <p>Id de Reserva {{booking.bookingId}}</p>
              <div>Workplace ID: {{booking.wpId}}</div>
              <p>Desde: {{toDate(booking.bookingIni)}}</p>
              <p>Hasta: {{toDate(booking.bookingEND)}}</p>
              <p>Lugar: {{booking.city}}</p>
              <div class="container-valorateButon">
                <button class="valorateButon" @click="openModal()">
                    Valorar
                </button>
              </div>  
      <!-- Modal Valoración -->
            <div class="valorationZone" v-show="seeValorationModal">
              <h3>Realice su Valoración</h3>
              <textarea class="opinionTextArea" type="text" v-model="innerOpinion" placeholder="Escriba aquí su opinión"/>
              <section id="rate" class="rating">
                <input class="starRadio" type="radio" id="star_5" name="rate" value="5" v-model="starValoration"/>
                <label class="star" for="star_5" title="Five">🌟</label>
                <!-- FOURTH STAR -->
                <input class="starRadio" type="radio" id="star_4" name="rate" value="4" v-model="starValoration"/>
                <label class="star" for="star_4" title="Four">🌟</label>
                <!-- THIRD STAR -->
                <input class="starRadio" type="radio" id="star_3" name="rate" value="3" v-model="starValoration"/>
                <label class="star" for="star_3" title="Three">🌟</label>
                <!-- SECOND STAR -->
                <input class="starRadio" type="radio" id="star_2" name="rate" value="2" v-model="starValoration"/>
                <label class="star" for="star_2" title="Two">🌟</label>
                <!-- FIRST STAR -->
                <input class="starRadio" type="radio" id="star_1" name="rate" value="1" v-model="starValoration" />
                <label class="star" for="star_1" title="One">🌟</label>
              </section>
              <div class="bookingValorationButton">
                <button class="button-custom" @click="sendValoration(booking.bookingId)">Valorar</button>
                <button class="button-custom" @click="cancelValoration()">Cancelar</button>
              </div>
            </div>
          </div>
    </div>   
  </div>
</template>

<script>
import moment, { localeData } from 'moment';
import axios from 'axios';
import Swal from 'sweetalert2';

export default {
    name:'Getbooking',
    props:{
        bookingreserves: '',
        opinion:'',    
    },
    data(){
        return{
            starValoration:'',
            seeValorationModal: false,
            reserveId:'',
            innerOpinion: this.opinion,
            innerWp: this.workplaceId
        }
    },
    methods:{
      toDate(tiempo){
      let date = moment.unix(tiempo).format("DD-MM-YYYY")
      return date
      },

      cancelValoration(){
        this.seeValorationModal = false;
      },

      sendValoration(bookindId){
        
        this.user = localStorage.getItem('USERID');
        console.log(bookindId)
        let opinion = this.innerOpinion;
        let stars = this.starValoration;
        let bookingId= bookindId;
        if(!opinion || !stars ){
          Swal.fire({
            icon: 'error',
            title: 'Introduzca una valoración',
            showConfirmButton: true,
          })
        }else {
          this.seeValorationModal = false;
          axios.post(`http://localhost:8090/booking/valoration/review`,{
          bookingId: bookindId,
          message: opinion,
          stars: stars,
          userId: this.user,
          })

          this.$router.push('/')
          
          .then(function(response){
            Swal.fire({
              icon: 'success',
              title: 'Opinión enviada con éxito',
              showConfirmButton: true,
            })           
            console.log(response.data)
          })
          .catch(function(error){
            console.log(error)
          })
        }
      },
      openModal(){
        this.seeValorationModal = true;
        }
    }
}
</script>

<style scoped>
h1{
  font-weight: 900;
}
.booking-card{
  font-weight: 500;
  -webkit-box-shadow: -1px 5px 17px 9px rgba(0,0,0,0.59);
  -moz-box-shadow: -1px 5px 17px 9px rgba(0,0,0,0.59);
  box-shadow: -1px 5px 17px 9px rgba(0,0,0,0.59);
  background-color: whitesmoke;
  padding: 1em;
  flex-direction: column;
  display: flex;
  margin: auto;
}
.valorationZone{
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  height: 30%;
  margin: auto;
  text-align: center;    
  width: 400px;
  padding: 1em;
  background: #A770EF;
  background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
  background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
}
.valorateButon{
  margin: auto;
  color: whitesmoke;
  background: darkslategray
}
.opinionTextArea{
  font-size: 1.4em;
  text-align: center;
  width: 80%;
  height: 20%;
}
.bookingValorationButton{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10%;
  font-size: 1em;
}
.container{
  display: flex;
  justify-content: center;
  gap: 4em;
  flex-wrap: wrap;
}
.container-valorateButon{
  padding: 1em;
  margin: auto;
}
.buttonVal{
  border: 1px solid ;
  color: rgb(44, 62, 80);
}
.star{
  display: flex;
  justify-content: space-evenly;
}
/* Estilado del apartado de Las estrellas para el rating */
.starRadio{
  margin-top: 5%;  
}
.rating {
  font-size: 2em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 30px;
  padding: em;
  margin: auto;
}
.rating:not(:checked) > .starRadio {
  display: none;
}
#rate:not(:checked) > label {
  cursor:pointer;
  float: right;
  width: 30px;
  height: 30px;
  display: block;
  
  color: rgba(0, 135, 211, .4);
  line-height: 33px;
  text-align: center;
}
#rate:not(:checked) > label:hover,
#rate:not(:checked) > label:hover ~ label {
  color: rgba(0, 135, 211, .6);
}
#rate > input:checked + label:hover,
#rate > input:checked + label:hover ~ label,
#rate > input:checked ~ label:hover,
#rate > input:checked ~ label:hover ~ label,
#rate > label:hover ~ input:checked ~ label {
  color: rgba(0, 135, 211, .8);
}
#rate > input:checked ~ label {
  color: rgb(0, 135, 211);
}

</style>