<template>
  <div>
      <div class="container" v-for="(user,index) in userinfo" :key="user.id">
          <div class="userinfo">
              <div class="title">Nombre: </div>
              <div>{{user.firstName}}</div>
          </div>
          <div class="userinfo">
              <div class="title">Apellidos: </div>
              <div>{{user.lastName}}</div>
          </div>
          <div class="userinfo">  
              <div class="title">Ciudad: </div>
              <div>{{user.city}}</div>
          </div>
          <div class="userinfo">
              <div class="title">Email: </div>
              <div>{{user.email}}</div>
          </div>
          <div class="userinfo">
              <div class="title">Teléfono: </div>
              <div>{{user.phone}}</div>
          </div>
      <div id="button-container">
          <button id="button-client" class="button-custom"  @click="enviarDatosCliente(index)">
              Editar
          </button>            
      </div>
     </div> 
  </div>
</template>

<script>
export default {
    name: 'getuserinfo',
    props:{
        userinfo: Array
    },
    methods:{
        enviarDatosCliente(index){
            let datosCliente = this.userinfo[index]
            this.$emit('datos', datosCliente) //Envio la información datos en la variable datosCliente 
        }
    }
} 
</script>

<style scoped>
.title{
    font-weight: 600;
}
.container {
    padding: 1em;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 300px;
    -webkit-box-shadow: -1px 5px 17px 9px rgba(0,0,0,0.59);
    -moz-box-shadow: -1px 5px 17px 9px rgba(0,0,0,0.59);
    box-shadow: -1px 5px 17px 9px rgba(0,0,0,0.59);
}
.userinfo {
    border-bottom-width: 1px solid teal;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}
#button-client{
    margin-top: 1em;
    color:whitesmoke;
    background: darkslategray;
}

#button-container{
    padding: 1em;
    margin: auto;
    padding-bottom: 1em;
}
</style>