<template>
  <div>
    <div class="container" v-for="workplace in workplacesById" 
    :key="workplace.wpId" :style="`background-image:url(${workplace.image})`">
        <section class="card-info">
            <div class="header-info">
                <h1>{{workplace.name}}</h1>
                <p>{{workplace.city}} / {{workplace.type}}</p>
            </div>
            <section class="header-info2" >
                <div class="info-place">Espacio alquilable: {{workplace.type}}</div>
                <div class="info-place">Horario {{workplace.schedule}} </div>
                <div class="info-place">Precio:  {{workplace.prize}} € / mes</div>
                <div clasS="innerbutton">
                    <button class="button-custom" @click="sendData(workplacesById)" v-show="reserveShow">
                        Reservar
                    </button>
                </div>
                <!-- Payment-->
                <div v-show="showPayment">
                        <div class="confirmButtons">
                        <button class="button-custom" @click="doReserve()">Confirmar</button>
                        <button class="button-custom" @click="returnReserve()">Cancel</button>
                    </div>

                </div>
            </section>
        </section>
   </div> 
    
  </div>
</template>

<script>
export default {
    name: 'workplacesinfo',
    props:{
        workplacesById: Array,
        innerPrize:''
    },data(){
        return{
            fechaEntrada: '',
            fechaSalida: '',
            showPayment: false,
            reserveShow: true,
            daysToPay: ''
        }
    },
    methods:{
        sendData(data){
            this.$emit('reservedata',data)
        },
        prizeToPay(prize){
            let prizePerday = prize / 30;
        },
        calculateDays(fechaEntrada,fechaSalida){
            let dEntry = new Date(this.fechaEntrada).getTime() / 1000;
            let dOut= new Date(this.fechaSalida).getTime() / 1000;
            let unixDays = dOut-dEntry;
            let daysToPay = unixDays/86400;
            return daysToPay 
        },
        doReserve(){

        },
        returnReserve(){
            this.showPayment= false;
            this.reserveShow= true;
        },
        payForm(prize){
            if(this.fechaEntrada === '' || this.fechaSalida === ''){
                alert('introduzca datos')
            } else {
                this.reserveShow= false;
                this.showPayment=true;
                return prize;
                this.prizeCalculation(prize)
            }
 
        }
    }
}
</script>

<style scoped>
h1{
    font-size: 3em;
}
.card-info{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.info-place{
    margin: auto;
    padding: 0.5em;
}
.confirmButtons{
    display: flex;
    gap: 1em;
    justify-content: space-evenly;    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.5em; 
}
.confirmButtons > button{
    color:whitesmoke;
    background: darkslategray;
}
.fecha{
    display: flex;
    text-align: center;
    margin: auto;
    font-size: 1em;
}
.container {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    padding-top: 2em;
}
.header-info{
    text-shadow:2px 2px 6px #666;
    color: white;
    text-align: left;
    margin: auto;
    justify-content: flex-start;
}
.header-info2{
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 500px;
    margin: auto;
    font-size: 1.5em;
    background: whitesmoke;
}
.innerbutton{
    font-size: 0.8em;
    margin: auto;
    padding-top: 1em;
}

.header-info p{
    font-size: 2em;
    
}

.back-ground-image{
    width: 100%;
}
</style>