<template>
  <div class="bodyRender">
      <div class="container">
       <div class="card-workplace" v-for="(workplace, index) in showedWorkplaces" :key="workplace.wpId" 
       @click="enviarIndiceWorkplace(index)">
            <div class="info">

            </div>
            <img class="miniature" :src="workplace.image" alt= "Workplace picture">
            <h3 class="name-workplace">
                 {{ workplace.name }}
            </h3>
             <div class="city-workplace">
                {{workplace.city}}
            </div>
            <div class="valoration">
                {{printStars(workplace.valor)}}
            </div>
            <div class="info-container">
                <div class="info-header">
                    <p>Tipo</p>
                    <p>Precio</p>
                    <p>Horario</p>
                </div>
                <div class="info-content">
                    <div>{{workplace.type}}</div>
                    <div>{{workplace.prize}} € / mes</div>
                    <div>{{workplace.schedule}}</div>
                </div>      
           </div>
       </div>
      </div>
      <!-- Apartado de Paginación -->
      <nav>
          <div class ="nav">
              <div id="page-item" >
                  <button class="button-custom" v-bind:disabled="currentPage === 0" @click="previousPage()">Anterior</button>
              </div>
              <div class="page-item" v-for="page in pages" :key="page" v-bind:active="currentPage === page" > 
                  <button class="button-custom" @click="goToPage(page)">{{page +1}}</button>
              </div>
              <div class="page-item" >
                  <button class="button-custom" v-bind:disabled="currentPage === pages.length -1" @click="nextPage" >Siguiente</button>
              </div>
          </div>
      </nav>
  </div>
</template>

<script>

export default {
    name:'Getworkplaces',
    components:{
    },
    props:{
        workplaces: '',
    },
    data(){
        return {
            currentIndex: 0,
            elementsPerPage: 6, //Elementos que se renderizarán por página
            currentPage:0,
            sortName: 0
        }
    },
    methods:{    
        previousPage(){
            this.currentPage = this.currentPage -1;
            this.currentIndex = this.currentIndex - this.elementsPerPage;
        },
        nextPage(){
            this.currentPage = this.currentPage +1;
            console.log(`Estoy en la página: ${this.currentPage}`)
            this.currentIndex = this.currentIndex + this.elementsPerPage;
        },
        goToPage(page) {
            this.currentPage = page;
            this.currentIndex = page * this.elementsPerPage;
        },
        changeSort(){
            switch (this.sortName){
                case 0:
                this.sortName = 1;
                break;
                case 1:
                    this.sortName = -1;
                    break;
                case -1:
                    this.sortName = 0;
                    break;
            }
        },
        //Para redondear la valoracion
        printStars(valor){
            this.round()
            let stars = '';
            if (valor < 1){
                stars=''
            }
            else if (valor > 0 && valor <= 1){
                stars = '🌟'
                return stars;
            } else if ( valor > 1 && valor <= 2){
                stars = '🌟🌟'
                return stars;
            } else if ( valor > 2 && valor <= 3){
                stars = '🌟🌟🌟'
                return stars;
            } else if ( valor > 3 && valor <= 4){
                stars = '🌟🌟🌟🌟'
                return stars;
            } else if (valor > 4 && valor <= 5){
                stars = '🌟🌟🌟🌟🌟'
                return stars;
            }
        },
        round(valor){
            return Number.parseFloat(valor).toFixed(0)
        },
        enviarIndiceWorkplace(index){
            let dataWorkplace = this.workplaces[index]
            this.$emit('emitDatosWorkplace', dataWorkplace)
        }
    },
    computed:{
        //Funciones computadas para paginación
        //Función para mostrar X cantidad de páginas.
        showedWorkplaces(){
            let slice = this.workplaces
            if (this.sortName !== 0){
                if(this.sortName > 0){
                    slice = orderBy(slice, ['name'], ['asc']);
                } else {
                    slice = orderBy(slice, ['name'], ['desc']);
                }
            }
            return slice.slice(this.currentIndex, this.currentIndex + this.elementsPerPage);
        },
        pages(){
            let numberOfPages = Math.ceil( this.workplaces.length / this.elementsPerPage )
            console.log(`Tengo ${numberOfPages} páginas`)
            let pageArray = [];
            
            for (let i = 0; i < numberOfPages; i++){
                pageArray.push(i)
            } 
            console.log(pageArray.length)
            
            return pageArray;
        }
    }
}
</script>

<style scoped>
.button-custom:disabled{
    color:grey;
    cursor: not-allowed;
    pointer-events: none;
}

.bodyRender{
    display: flex;
    flex-direction: column;
}
.nav{
    padding: 2em;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.info-content{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
}
.info-header{
    display: flex;
    justify-content: space-around;
}
.card-workplace {
    background-color: whitesmoke;
    -webkit-box-shadow: -1px 5px 17px 9px rgba(0,0,0,0.59);
    -moz-box-shadow: -1px 5px 17px 9px rgba(0,0,0,0.59);
    box-shadow: -1px 5px 17px 9px rgba(0,0,0,0.59);
    display: flex;
    margin: auto;
    flex-direction: column;
}
.miniature{
    width: 30em;    
    height: 20em;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    flex-direction: row;
}
.price-container{
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.name-workplace{
    font-size:1.5em;
    text-align: center;
}
.valoration{
    text-align: center;
}
.city-workplace{
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 1em;
}
</style>
