<template>
    <div class="container">
        <div class="container-service" v-for="service in servicesById" :key="service.id">
            <div class="service-name">{{service.name}}</div>
        </div>
   </div>
</template>

<script>
export default {
    name:'services',
    props:{
       servicesById: Array
    }
}
</script>

<style scoped>
.container-service{
  width: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 20px;
}
.service-name{
  width: 20px;  
}
</style>