<template>
  <div >
    <div class="about">
        <br>
      <img src="../assets/About_me_gif.gif" alt="DioBrando Gif">
        <br>
      <h1>Sobre mí</h1>
      <article>
        <p>
          Breve y rápida introducción: Soy Orlando un alumno del bootcamp de Hack a Boss con formación como Administrador de Sistemas, con experiencia en un equipo de operaciones (24x7) y como Customer Service y Helpdesk
        <br>
          Quiero reencaminar mi futuro laboral y esta página es uno de los requisitos para ello ;)
        </p>
        <h3>
          <a href="https://www.linkedin.com/in/orlandosoage/">Linkedin</a>  | 
          <a href="https://arsontides.bandcamp.com/album/child-of-the-tide">Me as "musician"</a>
        </h3>
      </article>
    </div>
    <footercustom/>
  </div>
  
</template>
<script>
import footercustom from '@/components/FooterCustom.vue';

export default {
  name: 'About',
  components:{
    footercustom
  }
}
</script>

<style scoped>
  p{
    margin:5% 10% 0% 10% ;
    font-size: 2em;
  }
  .about{
    margin-top: 3%;
    height: 99vh;
  }
  @media screen and ( max-width: 600px){
    p{
      font-size: 20px;
    }
    h1{
      font-size:2 em;
    }
    img{
      width:50%;
    }
  
  }  

</style>
