<template>
  <div>
      <h1>Listado de Clientes</h1>
      <allclients :clients="clients"
      v-on:deleteUserEvent="deleteClient"
      v-on:dataUserEvent="showUserInfo"
      />
      <!--Modal para actualizar a los usuarios-->
      <div v-show="seeModal" class="modal">
        <div class="modalBox">
          <h3>Actualiza los datos del usuario</h3>
          <p>Usuario: {{clients.usuario}}</p>
          <p class="formuUpdate">
            <input type="text" v-model="nombreUpdated"> <br>
            <input type="text" v-model="usuarioUpdated"> <br>
            <input type="text" v-model="emailUpdated"> <br>
            <input type="text" v-model="passwordUpdated">
          </p>
          <button @click="seeModal =! seeModal">
            Cancelar
          </button>
          <button @click="updateUser()">
            Actualizar
          </button>
        </div>
      </div>
  </div>
</template>

<script>
import axios from 'axios';
import allclients from '@/components/AllClients.vue';

export default {
    name: 'Clients',
    components:{
      allclients
    },
    data(){
      return {
        clients:[],
        seeModal: false,
        nombreUpdated:'',
        usuarioUpdated :'',
        passwordUpdated :'',
        emailUpdated :'',
        imagenUpdated :'',
        idUser :''
      }
    },
    methods:{
      updateUser(){
        var self = this;
        axios.put(`http://localhost:8090/users/update/${self.idUser}`,{

          nombre: self.nombreUpdated,
          usuario: self.usuarioUpdated,
          password: self.passwordUpdated,
          email: self.emailUpdated,
          imagen: self.imagenUpdated
        }) 
        .then(function(response){
          console.log(response)
        })
        .catch(function(error){
          console.log(error)
        })
        location.reload()
      },
      showUserInfo(dataClient){
        this.nombreUpdated= dataClient.nombre;
        this.usuarioUpdated = dataClient.usuario;
        this.passwordUpdated = dataClient.password;
        this.emailUpdated = dataClient.email;
        this.imagenUpdated = dataClient.imagen;
        this.idUser = dataClient.id;
        
        this.seeModal=true;
      },
      deleteClient(indexDelete){
        var self=this;
        let indexDel = indexDelete;

        axios.delete(`http://localhost:8090/users/delete/${indexDel}`,{
          id: indexDel
        })
        .then(function (response) {
          console.log(response)
        })
        .catch(function(error){
          console.log(error)
        })
        location.reload();
      },
      //Función para obtener a todos los Usuarios desde la bd
      getClients(){
            var self=this;
            //llamada con axios a la API
            axios.get('http://localhost:8090/clients')
            .then (function(response){
                console.log(response)
                self.clients = response.data
            })
            .catch(function(error){
                console.log(error)
            })
      }
    },
    created(){
      this.getClients();
    }
}
</script>

<style scoped>
  .modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .modalBox{
    background-color: #fefefe;
    margin: 2% auto;
    padding: 3rem;
    width: 80%;
    border: 1px solid #888;
  }
  input{
    font-size: 1.5em;
  }
@media screen and ( max-width: 600px){
  h1{
      font-size: 25px;
      padding: 10px;
  }
  input{
    font-size: 20px;
  }
  h3 {
    font-size: 20px;
  }
}
</style>