<template>
  <div>
      <h1>Error Page</h1>

      <h2>
          La dirección a la que ha tratado de acceder no existe
      </h2>
      <img src="../assets/error.gif" alt="Nerv_Error">
      <h3>
         👇 Si quieres salir de este lugar aislado del espacio tiempo 👇
      </h3>
      <button @click="$router.go(-1)">
          Volver al pasado
      </button>
 
  </div>
</template>

<script>
export default {
    name:'Error'
}
</script>

<style scoped>
    button{
        font-size: 2em;
    }
</style>