<template>
  <div id="back">
    <body>   
      <div class="containerhome">
        <p class="overtext"><b>Hack a Market</b></p>
      </div>
    </body>
    <footercustom/>
  </div>
</template>

<script>
import footercustom from '@/components/FooterCustom.vue';

export default {
  name: 'Home',
  components:{
    footercustom
  }

}
</script>
<style scoped>
  #back{
    background-image:url('../assets/back_home.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
  }
  .containerhome{
    position:initial;
    display: inline-block;
    text-align: center;
    margin-top: 2%;
    height: 100vh;
  }
  .overtext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    background-color:rgba(255, 166, 0, 0.39);
    box-shadow: 10px 10px 10px orange;
    font-size: 4em;
    color: black;
    padding: 10px;
  }
@media screen and ( max-width: 600px){
  .overtext{
    font-size: 2em;
  }
}
</style>
