<template>
  <div>
      <allproducts :products="products"/>
  </div>
</template>

<script>
import axios from 'axios';
import allproducts from '@/components/AllProducts.vue';

export default {
    name:'Products',
    components:{
        allproducts
    },
    data(){
        return{
            products:[]
        }
    },
    methods: {
        //Función para recuperar los productos desde la BBDD
        getProducts(){
            var self=this;
            //llamada con axios a la API
            axios.get('http://localhost:8090/products')
            .then (function(response){
                console.log(response)
                self.products = response.data
            })
            .catch(function(error){
                console.log(error)
            })
        }
    },
    created(){
        this.getProducts();
    }
}
</script>

<style>

</style>