<template>
  <div>
      <h1>Alta de clientes</h1>
      <main>
          <div id="inputs">
            <input v-model="nombre" type="text" placeholder="Nombre del cliente">
            <input v-model="usuario" type="text" placeholder="Nombre de usuario/nickname">
            <input v-model="password" type="text" placeholder="Email del cliente">
            <input v-model="email" type="text" placeholder="Contraseña del cliente">
            <input v-model="imagen" type="text" placeholder="Fotografía del cliente (URL)">
          </div>
          <button @click="addUser()">
            Dar de alta
          </button>
      </main>
  </div>
</template>

<script>
import axios from 'axios';
export default {
    name: 'Register',
    data(){
      return{
        nombre:'', 
        usuario:'', 
        password:'', 
        email:'', 
        imagen:''
      };
    },
    methods:{
      addUser(){
        var self=this;
        axios.post('http://localhost:8090/users/add',{
          nombre: self.nombre,
          usuario: self.usuario, 
          password: self.password, 
          email: self.email, 
          imagen: self.imagen
        })
        .then(function(response){
          console.log(response)
        })
        .catch(function(error){
          console.log(error)
        })
        location.reload()
      }

    }
}
</script>

<style scoped>
main{
  margin-top: 9%;

}
  #inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  button{
    margin-top: 4%;
  }
  input{
    font-size: 1.2em;
  }

</style>