<template>
    <div>
        <footer id="footerprueba">
            <div>
                Made by: Orlando Soage Sánchez
            </div> 
        </footer>
    </div>

  
</template>

<script>
export default {
    name: 'footercustom'
}
</script>

<style scoped>
    #footerprueba{
        background-color:rgb(48, 49, 51);
        position: flex;
        width:100%;
        height: 2em;
        font-size: 20px;
        margin-top: 2%;
        bottom:0%;
        color: rgba(250, 255, 187, 0.705);
        
    }

</style>