<template>
    <div id="container"> 
        <section>
            <header>
                <img id="imagen-encabezado" src="../assets/topartists.jpg"/> 
            </header>                
            <div id="container-boton">
                <input class="boton-busqueda" type="search" v-model="search" placeholder="Introduzca el Nombre">
            </div>
            <section class="container">
                <main class="artists-page">
                    <section class="artist-card" v-for="item in filtered" :key="item.id">
                        <header class="artist-img">
                            <img id="artistAvatar" :src="item.image[2]['#text']">
                        </header>
                        <section>
                             <div>
                                 <h2 id="artist-name">{{ item.name }}</h2>
                             </div>
                             <div id="listeners">
                                 Oyentes: {{item.listeners}}
                             </div>
                            <footer class="footer-link">
                                <a :href="item.url">{{ item.name }}</a>
                            </footer>

                        </section>
                    </section>
                </main>
            </section>

        </section>
    </div>
</template>

<script>
export default {
    name: 'TopArtist',
    props: {
        artists: Array
    },
    data(){
        return{
            search:''
        }
    },
    computed:{
        filtered(){
            if(!this.search){
                return this.artists
            }
            return this.artists.filter( item => 
            item.name.toLowerCase().includes(this.search.toLowerCase())
            )
        }
    }
}
</script>

<style scoped>
#container-boton{
    margin-top: 1%;
    display: flex auto;
}

.boton-busqueda{
    padding: 1%;
    font-size: 2em;
    text-align: center;
}
.artist-img{
    margin-top: 2%;
}
.artists-page{
    margin-top: 2%; 
    flex: 1 1 auto;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.artist-card{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    background-color: #94e44a91;
    background-image: url("../assets/cardbackground.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-blend-mode:darken;
}

.footer-link{
    background-color: #94e44aab;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    bottom:10%;
}
#artist-name{
    font-size: 2em;
}
#listeners{
    font-size: 2em;
}
@media screen and (max-width: 600px){
    .artits-page{
        flex: 1 1 auto;
        display: grid;
    }
    #artistAvatar{
        width: 50%;
        height: 50%;
        margin-top: 1em;
    }
    .boton-busqueda{
        padding: 10px;
        font-size: 2em;
        text-align: center;
        width:100%;
    }

}

</style>