<template>
<div id="container">
      <header id="encabezado">
          <img id="imagen-encabezado" src="../assets/toptracks.jpg"/>
      </header>
      <section class="container">
          <main class="tracks-page">
                    <section class="tracks-card" v-for="track in tracksdelmal" :key="track.id">
                         <header class="artist-img">
                            <img id="artistAvatar" :src="track.image[2]['#text']">
                        </header>
                        <div id="card-content">
                                 
                                 <h2 id="track-name">
                                     {{ track.name }}
                                 </h2>
                                 <p id="listeners">
                                     Oyentes: {{track.listeners}}
                                 </p>
                            <footer class="footer-link">
                                <a id="escuchar-link" :href="track.url">Escuchar</a>
                            </footer>
                        </div>
                    </section>
                </main>
      </section>
  </div>
</template>

<script>
export default {
    name: 'TopTracks',
    props: {
        tracksdelmal: Array
    }
}
</script>

<style scoped>
#track-name,#listeners{
    font-size: 2em;
    font-weight:bolder;
}
.tracks-page{
    margin-top: 2%; 
    flex: 1 1 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.tracks-card{
    padding: 10px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    background-color: #94e44a91;
    background-image: url("../assets/cardbackground.png");
    background-repeat: no-repeat;
    background-size:auto;
    background-blend-mode:darken;
}
</style>