<template>
  <div id="container">
          <header id="encabezado">
              <img id="imagen-encabezado" src="../assets/toptags.jpg"/>
          </header>
          <section class="container">
              <main class="tags-page">
                  <section class="top-tags" v-for="tag in tagsdelmal" :key="tag.id">
                      <div class="tag-card">
                          <p id="nombre-tag">
                              {{tag.name}}
                          </p>
                          <p>
                              Etiquetado: {{ tag.taggings}}
                              <br>
                              Alcance: {{tag.reach}}</p>
                          <footer class="footer-link">
                              <a :href="tag.url">Acceder</a>
                          </footer>
                      </div>
¡              </section>
              </main>
          </section>      
  </div>
</template>

<script>
export default {
    name:'TopTags',
    props:{
        tagsdelmal: Array
    }
}
</script>

<style scoped>
.tags-page{
    margin-top: 2%; 
    flex: 1 1 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.tag-card{
    padding: 5px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    background-color: #94e44a91;
    background-image: url("../assets/cardbackground.png");
    background-repeat: no-repeat;
    background-size:auto;
    background-blend-mode:darken;
}
#nombre-tag{
    font-size: 3em;
    font-weight:bolder;
}
.tag-card>p{
    font-size: 2em;
}
</style>